.stream-wrapper{display:block; width:1280px; height:720px; position: absolute; top:0; left:0; overflow:hidden}
.video-capture-div{position:relative; top:0;left:0;display:block;height:612px;width:1088px; background:transparent; box-shadow: inset 0 4px 8px 0 rgba(20, 20, 20, 0.4);}
.video-capture-div.blocked{position:absolute;opacity:0;transform: translateX(-100%); z-index:10; background: #1fe9e7;
      background: -webkit-radial-gradient(center, ellipse cover,  #1fe9e7 0%,#15d1d0 47%,#12b2b1 100%);
      background: radial-gradient(ellipse at center,  #1fe9e7 0%,#15d1d0 47%,#12b2b1 100%); box-shadow:none}
.video-capture-div.blocked > svg{display:block; margin: 181px auto 0; fill:#13c2c1}
/*Sidebar Classes*/
.video-capture-div.webcam{width:100%; height:108px; border-bottom:2px solid #aaa; background:#0f0; box-shadow:none}
.sidebar-div{display:block;position:absolute; top:0;right:0;font-family:'Ubuntu', sans-serif;height:612px;width:190px;border-left:2px solid #ccc; background:#CCC}
.dark .sidebar-div{background:#535353; border-left:2px solid #777}
.donate-lbl{font:normal 18px/24px 'Arvo', serif; color:#111; text-align: center; display:inline-block; width:100%; margin:10px 0}
.dark .donate-lbl{color:#eee}
/*Lower Third classes*/
#divLowerThird{display:block; height:108px; width:100%; z-index:1; background:#E9E9E9; box-sizing:border-box; overflow:hidden}
.dark #divLowerThird{background:#414141; color:#eee}
.lower-third-title-bg{display:inline-block; z-index:2; height:108px; width:280px; position:relative; left:-35px; top:0;background: #00a7a6;
      background: -webkit-linear-gradient(-45deg,  #00a7a6 0%,#008584 53%,#007a76 100%);
      background: linear-gradient(135deg,  #00a7a6 0%,#008584 53%,#007a76 100%);
      border-right:10px solid #066; transform:skew(-25deg, 0);overflow:hidden}
.lower-third-donation-bg{display:inline-block; z-index:2; height:107px; width:191px; position:absolute; right:0; bottom:0; background: #00a7a6;
      background: -webkit-linear-gradient(-45deg,  #00a7a6 0%,#008584 53%,#007a76 100%);
      background: linear-gradient(135deg,  #00a7a6 0%,#008584 53%,#007a76 100%);
      border-left:1px solid #00a7a6; border-top:1px solid #00a7a6; overflow:hidden}
.lower-title-lbl{font:normal 46px/54px 'Arvo', serif; color:#f5f5f5; display:inline-block; text-align: center; transform:skew(25deg, 0); margin-left:40px}
.list-title{display:inline-block; text-align: center; font:normal 18px/24px 'Arvo', serif; width:100%; margin:10px 0 0; color:#555}
.dark .list-title{color:#ddd}
.sidebar-title{display:inline-block; text-align: center; font:normal 18px/24px 'Ubuntu', serif; width:100%; margin:10px 0 0; color:#666}
.dark .sidebar-title{color:#ccc}
.donor-list{display:table; width:100%; margin:10px 0 0; -webkit-padding-start:0;}
.donor-item{display:block; width:94%; padding:0 3%; height:45px; background:#e4e4e4; border-bottom: 1px solid #bbb; color:#333}
.donor-item:first-of-type{border-top: 1px solid #bbb}
.donor-item:last-of-type{border-bottom:none}
.dark .donor-item{background:#555; color:#e3e3e3; border-bottom: 1px solid #777}
.dark .donor-item:first-of-type{border-top: 1px solid #777}
.donor-name{display:inline-block; text-align: left; font:normal 14px/45px 'Ubuntu', serif; max-width:100%; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; vertical-align: text-bottom;}
.donation-amount{float:right; vertical-align: text-bottom; max-width:130px; text-align: right; font:normal 15px/18px 'Ubuntu', sans-serif; font-feature-settings: 'tnum';}
.time-icon{fill:#999; display:block; margin:100px auto}
.dark .time-icon{fill:#777}
