<link rel="import" href="../../../components/polymer/polymer.html">
<dom-module id="donor-sidebar">
  <style>
  .blocked-sidebar{z-index:5; position: absolute; top:109px; display:none; transform:translateX(200px); min-height:503px}
  </style>
  <template>
    <div class="sidebar" id="divInnerSidebar">
      <label class="list-title">Last 10 Donors</label>
      <ul class="donor-list" id="ulDonors">
        <template is="dom-repeat" items="{{donors}}">
          <li class="donor-item">
            <label class="donor-name">{{item.donorName}}</label>
            <!--<label class="donation-amount">{{item.donationAmount}}</label>-->
          </li>
        </template>
      </ul>
    </div>
    <div class="blocked-sidebar" id="divBlockedSidebar">
      <label class="list-title" style="margin-top:20px">Any Message Here</label>
      <label class="list-title">Or Here</label>
      <svg id="svgTrophyIcon" class="time-icon" width="100px" height="100px" viewBox="0 0 24 24">
  			<path d="M20 4v-4h-16v4h-4v6h2v-4h2v4h-2v2h4v2h2v2h2v4h-2v2h-2v2h12v-2h-2v-2h-2v-4h2v-2h2v-2h4v-2h-2v-4h2v4h2v-6z"></path>
      </svg>
      <label class="sidebar-title" style="font-size:0.9em">You can</label>
      <label class="sidebar-title">edit the HTML</label>
      <label class="sidebar-title">To Change This</label>
    </div>
  </template>
</dom-module>

<script src="sidebar.js"></script>
